#flexContainer {
  display: flex;
  flex-direction: column;
}

#divContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 2px solid rgb(0, 8, 255);
}

#mapContainer {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-origin: 0 0;
}

#theMap {
  width: 100%;
  height: 100%;
}

.spanSpace {
  padding: 0px 5px 0px 5px;
  background-color: rgb(255, 255, 255);
}
.partitions {
  padding-top: 3px;
}

.selectedColorBox {
  border: 2px;
  border-style: solid;
  border-color: black;
}
